/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jul 5, 2023, 8:47:49 PM
    Author     : Naviank
*/
.test {
    display: none;
}

#addMess {
    position: fixed;
    top: 132px;
    right: 40px;
    background-color: green;
    border: 1px solid #ccc;
    opacity: 100;
    padding: 10px;
    display: none;
}

#notification {
    position: fixed;
    top: 80px;
    right: 10px;
    background-color: greenyellow;
    border: 1px solid #ccc;
    padding: 10px;
    display: none;
}

.pagination {
    justify-content: center;
}

.pagination button {
    min-width: 20px;
    background-color: orange;
}

.active >button{
    background-color: pink;
}
.pagination button{
    margin: 4px;
    padding: 0 4px;
    /*background-color: violet;*/
}

.form-group h6{
    text-align: left;
    padding: 8px 0;
    margin: 0;
}

.form-group button{
    min-width: 52px;
    background-color: orange;
    border-radius: 4px;
    padding: 2px 4px;
    margin: 4px;
}

.filter span {
    /*width: 80px;*/
}
.filter select {
    margin: 4px;
}

.sliderimg {
    width: 160px;
    height: 80px;
}
